@import '../../../variables.scss';
.topNav {
  width: 100%;
  height: 70px;
  background-color: $exercise-darkMode-medium;
  border-bottom: 3px solid $exercise-darkMode-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  h4 {
    color: $text-darkMode-white;
  }
  .btn {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border: 2px solid $text-darkMode-white;
    color: $text-darkMode-white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn:hover {
    color: white;
    border: 2px solid white;
  }
  .hidden {
    visibility: hidden;
  }
}
