@import '../../../variables.scss';
.editor {
  height: 50%;
  background-color: rgb(42, 45, 61);
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    height: 35px;
    background-color: $exercise-darkMode-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
    h4 {
      color: $text-darkMode-white;
    }
    .btnsContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .separator {
        width: 2px;
        height: 10px;
        border-radius: 2px;
        background-color: $exercise-darkMode-light;
        margin: 0px 5px;
      }
      .run {
        font-size: 20px;
      }
      .zoomInOut {
        font-size: 15px;
      }
    }
  }
  .drag {
    height: 10px;
    width: 100%;
    background-color: $exercise-darkMode-light;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-darkMode-white;
    cursor: grab;
  }
  .drag:hover {
    background: $exercise-darkMode-btn-hover;
  }
  .drag:active {
    background: $exercise-darkMode-btn-active;
  }
}
