@import '../../../variables.scss';
.mainContent {
  border: 2px solid $exercise-darkMode-dark;
  display: flex;
  height: 100%;
  min-width: 0;

  .editorPane {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex: 1;
  }
}
