@import '../../../variables.scss';
.sideNav {
  min-width: 200px;
  height: 100vh;
  border-right: 3px solid $exercise-darkMode-dark;
  background-color: $exercise-darkMode-medium;
  .listContainer {
    overflow: scroll;
    height: calc(100vh - 70px);
    padding-bottom: 15px;
    box-sizing: border-box;
  }
  .listContainer::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
