@import '../../../variables.scss';
.logoBtn {
  width: 100%;
  height: 70px;
  background-color: $exercise-darkMode-medium;
  border-bottom: 3px solid $exercise-darkMode-dark;
  box-sizing: border-box;
}
