@import '../../../../variables.scss';
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subItemContainer {
  list-style: none;
  .btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    color: white;
    padding: 0px;
    cursor: pointer;
    .checkbox {
      @include center;
      width: 30%;
      height: 100%;
      font-size: 15px;
      cursor: pointer;
    }
    .content {
      display: flex;
      align-items: center;
      max-width: 140px;
      height: 100%;
      font-size: 15px;
      overflow-wrap: break-word;
      word-break: break-all;
      padding: 15px 15px 15px 0px;
      box-sizing: border-box;
      text-align: left;
    }
  }
  .btn:hover {
    background-color: $exercise-darkMode-btn-hover;
  }
}
